
/* custom font face from local */
$grey:  #777;
$grey2: #dfe3e4;
$blue:  #2183dd;
$green: #009900;
$white: #fff;

@font-face
{
    font-family: "digital7";
    src:url("../fonts/digital-7.ttf")
}

/* animations for popping the screens */

@keyframes push{
    50%  {transform: scale(0.8);}
  }

body{
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/10125-v1.jpg");
    /* background-repeat: repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    font-family: "digital7";
    color:azure;
}

.center{
    text-align: center;
}



/* design of logo section, main screen */

#logo{
    width: 40vw;
    padding-left: 29vw;
    padding-right: 29vw;
    animation-name: push;
    animation-duration:  1s;
}


/* design of menu section */

.head-links{
    display: inline;
    align-content: center;
    align-self: center;
}
.head-links ul li{
    display: inline;
}

h1{
    display: inline;
    font-size: large;
}
.head-links ul li h1{
    text-decoration:none;
    font-size:70px;
    font-weight:bold;
    color:white;
}
.head-links ul li img{
    width: 150px;
    align-self: center;
    vertical-align:middle;
}

#menu{
    align-self: center;
    margin-top: 5vh;
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
    /* padding: 1vh; */
    animation-name: push;
    animation-duration:  1s;
}


/*for progress bar*/
.progressbar{
    counter-reset: part;
	
}
.progressbar li  {
list-style-type: none;	
float: left;
width: 20%;
}

.progressbar li:before {
content:counter(part);
counter-increment: part;
width:30px;
height: 30px;
line-height: :30px;
border:1px solid #ddd;
display: block;
text-align: center;
margin: 0 auto 10px auto;
border-radius: 50%;
background-color: white;
}
.progressbar li:after {
content:'';
position:absolute;
width: 100%;
height: 1px;
background-color: #ddd;
top:280px; 
left:-30%;
z-index: -1;
}
.progressbar li:first-child:before {
    content:  none;
}
.progress {
  position: relative;
  display: flex;
}
 .progress-track {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 5px;
  background-color: $grey2;
  z-index: -1;
}
// Each Step on the Progress Bar
.progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;

  // Hide the final step's progress bar
  &:last-child:after {
    display: none;
  }
  // Step's circle in default state
&:before {
  content: "\f00c";
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: $white;
  border: 4px solid $grey2;
  border-radius: 100%;
  color: $white;
}

// Step's progress bar in default state
&:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: $grey2;
  z-index: -1;
}
// Step's active state
&.is-active {
  color: $blue;

  &:before {
    border: 4px solid $grey;
    animation: pulse 2s infinite;
  }
}


// Step's complete state
&.is-complete {
  color: $green;

  // Step's circle in complete state
  &:before {
    font-family: FontAwesome;
    font-size: 10px;
    color: $white;
    background: $green;
    border: 4px solid transparent;
  }

  // Step's progress bar in complete state
  &:after {
    background: $blue;
    animation: nextStep 1s;
    animation-fill-mode: forwards;
  }
}
}

// Pulse animation for Step's circle in active state
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(33,131,221, 0.4); }
  70% { box-shadow: 0 0 0 10px rgba(33,131,221, 0); }
  100% { box-shadow: 0 0 0 0 rgba(33,131,221, 0); }
}
/* for hiding and showing only one screen at a time */
.hide-not-target:not(:target) {
    display: none;
}
.hide-not-target:target {
    display: block
}