
/* custom font face from local */

@font-face
{
    font-family: "digital7";
    src:url("../fonts/digital-7.ttf")
}

/* animations for popping the screens */

@keyframes push{
    50%  {transform: scale(0.8);}
  }

body{
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "digital7";
    color:azure;
}

.center{
    text-align: center;
}



/* design of logo section, main screen */

#logo{
    width: 40vw;
    padding-left: 29vw;
    padding-right: 29vw;
    animation-name: push;
    animation-duration:  1s;
}


/* design of menu section */

.head-links{
    display: inline;
    align-content: center;
    align-self: center;
}
.head-links ul li{
    display: inline;
}

h1{
    display: inline;
    font-size: large;
}
.head-links ul li h1{
    text-decoration:none;
    font-size:70px;
    font-weight:bold;
    color:white;
}
.head-links ul li img{
    width: 150px;
    align-self: center;
    vertical-align:middle;
}

#menu{
    align-self: center;
    margin-top: 5vh;
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
    padding: 1vh;
    animation-name: push;
    animation-duration:  1s;
}







/* for hiding and showing only one screen at a time */
.hide-not-target:not(:target) {
    display: none;
}
.hide-not-target:target {
    display: block
}
